In [13]:
import bs4 as bs
import urllib.request 
import pandas as pd
import numpy as np

In [2]:
 source = urllib.request.urlopen("https://www.pro-football-reference.com/years/2021/passing.htm").read()
 soup = bs.BeautifulSoup(source, 'lxml')

In [25]:
table = soup.find_all('table')

In [26]:
# rows = soup.find_all('tr', class_= lambda table_rows: table_rows != "thead")
# player_stats =[[td.getText() for td in rows[i].find_all ('td')]
               # for i in range(len(rows))]
# player_stats = player_stats[2:]

# print(player_stats)

In [4]:
df = pd.read_html(str(table))[0]

In [23]:
display(df)

,Rk,Player,Tm,Age,Pos,G,GS,QBrec,Cmp,Att,...,Y/G,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD
0,1,Tom Brady*,TAM,44,QB,17,17,13-4-0,485,719,...,312.7,102.1,68.1,22,144,3,6.98,7.41,3,5
1,2,Justin Herbert*,LAC,23,QB,17,17,9-8-0,443,672,...,294.9,97.7,65.6,31,214,4.4,6.83,6.95,5,5
2,3,Matthew Stafford,LAR,33,QB,17,17,12-5-0,404,601,...,287.4,102.9,63.8,30,243,4.8,7.36,7.45,3,4
3,4,Patrick Mahomes*,KAN,26,QB,17,17,12-5-0,436,658,...,284.6,98.5,62.2,28,146,4.1,6.84,7.07,3,3
4,5,Derek Carr,LVR,30,QB,17,17,10-7-0,428,626,...,282.6,94.0,52.4,40,241,6,6.85,6.60,3,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,111,Cordarrelle Patterson,ATL,30,RB,16,13,NaN,0,1,...,0.0,39.6,2.9,0,0,0,0.00,0.00,NaN,NaN
114,112,Brett Rypien,DEN,25,qb,1,0,NaN,0,2,...,0.0,39.6,1.1,0,0,0,0.00,0.00,NaN,NaN
115,113,D'Andre Swift,DET,22,rb,13,4,NaN,0,1,...,0.0,39.6,0.5,0,0,0,0.00,0.00,NaN,NaN
116,114,Albert Wilson,MIA,29,wr,14,5,NaN,0,1,...,0.0,39.6,0.0,1,1,50,-0.50,-0.50,NaN,NaN
117,115,Brandon Zylstra,CAR,28,wr,13,3,NaN,0,1,...,0.0,39.6,0.4,0,0,0,0.00,0.00,NaN,NaN

In [6]:
df.to_csv("nfl.csv", index=False)

[1]